{% extends "base.html" %}

{% block title %}Reportes{% endblock %}

{% block extra_header %}
    <link rel="stylesheet" href="/static/css/reportes.css"/>
{% endblock %}

{% block content %}
<div class="container">

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li {% ifequal active "cantidad_fichas" %}class="active"{% endifequal %}>
                    <a href="/reportes/{{ anio }}/cantidad_fichas/">
                        Cantidad de Fichas
                    </a>
                </li>
                <li {% ifequal active "estado_ciclos" %}class="active"{% endifequal %}>
                    <a href="/reportes/{{ anio }}/estado_ciclos/">
                        Estado de Ciclos
                    </a>
                </li>

                {% if ES_ADMIN %}
                <li {% ifequal active "estado_datos" %}class="active"{% endifequal %}>
                    <a href="/reportes/{{ anio }}/estado_datos/">
                        Estado de Datos
                    </a>
                </li>
                <li {% ifequal active "rel_fam_per" %}class="active"{% endifequal %}>
                    <a href="/reportes/{{ anio }}/rel_familia_persona/">
                        Relación familia-ficha
                    </a>
                </li>
                <li {% ifequal active "fichas_obj" %}class="active"{% endifequal %}>
                    <a href="/reportes/{{ anio }}/fichas_por_objetivo/">
                        Fichas por Objetivo
                    </a>
                </li>
                <li {% ifequal active "condiciones" %}class="active"{% endifequal %}>
                    <a href="/reportes/{{ anio }}/condiciones_vulnerabilidad/">
                        Condiciones de Vulnerabilidad
                    </a>
                </li>
                <li {% ifequal active "particip_activ" %}class="active"{% endifequal %}>
                    <a href="/reportes/{{ anio }}/participacion_actividades/">
                        Participación en Actividades
                    </a>
                </li>
                <li {% ifequal active "actividades_objetivo" %}class="active"{% endifequal %}>
                    <a href="/reportes/{{ anio }}/actividades_objetivo/">
                        Actividades por Objetivos
                    </a>
                </li>
                <li {% ifequal active "prom_por_factor" %}class="active"{% endifequal %}>
                    <a href="/reportes/{{ anio }}/var_por_factor/">
                        Variación por factor
                    </a>
                </li>
                <li {% ifequal active "var_por_obj" %}class="active"{% endifequal %}>
                    <a href="/reportes/{{ anio }}/var_por_obj/">
                        Variación por objetivo
                    </a>
                </li>
                {% endif %}

    {#            <li {% ifequal active "tipos_familias" %}class="active"{% endifequal %}>#}
    {#                <a href="/reportes/{{ anio }}/tipos_familias/"><i class="icon-chevron-right"></i> Tipos de Familias</a>#}
    {#            </li>#}
    {#            <li {% ifequal active "nivel_ingresos" %}class="active"{% endifequal %}>#}
    {#                <a href="/reportes/{{ anio }}/nivel_ingresos/"><i class="icon-chevron-right"></i> Nivel de Ingresos</a>#}
    {#            </li>#}
            </ul>
        </div>
    </div>

    <div>
        {% block report_content %}{% endblock %}
    </div>

</div>

{% endblock %}

{% block extra_footer %}
<script type="text/javascript" src="/static/highcharts/highcharts.js"></script>
<script type="text/javascript">
    var anio = {{ anio }};

    $(document).ready(function(){

        $(".btn-grafico").click(function(){
            var $section = $(this).closest(".section");
            $section.find(".tabla-datos").fadeOut(function(){
                $section.find(".grafico").fadeIn();
            });
            return false;
        });

        $(".btn-tabla").click(function(){
            var $section = $(this).closest(".section");
            $section.find(".grafico").fadeOut(function(){
                $section.find(".tabla-datos").fadeIn();
            });
            return false;
        });

    });
</script>
{% endblock %}