{% extends "reportes/base.html" %}
{% load common_tags %}

{% block report_content %}
<div id="compl_datos" class="section">
    <h3>Estado de Datos <span style="font-size: small; font-weight: normal">(Fichas Activas y cerradas)</span></h3>

    <table class="table table-hover table-condensed table-bordered tabla-datos">
        <thead>
            <tr>
                <th>Centro Familiar</th>
                <th>Parte I</th>
                <th>Parte II (Inicio)</th>
                <th>Parte II (Cumplimiento)</th>
                <th>Parte III</th>
            </tr>
        </thead>
        <tbody>
        {% for centro in centros %}
            <tr id_centro="{{ centro.id }}" class="tr-datos">
                <td>{{ centro }}</td>
                <td>{{ centro.get_porcentaje_completo|floatformat:"2" }}%</td>
                <td>{% get_porcentaje_completo_p2 centro anio %}%</td>
                <td>{% get_porcentaje_completo_p2_c centro anio %}%</td>
                <td>{{ centro.get_porcentaje_completo_p3|floatformat:"2" }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

{% block extra_footer %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function(){



    });

</script>
{% endblock %}