{% extends "reportes/base.html" %}

{% block report_content %}
<div id="estado_ciclos" class="section">
    <h3>Estado de Ciclos</h3>

    <form class="form-inline">
        <div class="btn-group pull-left" data-toggle="buttons-radio">
            <a class="btn btn-small btn-tabla" title="Ver tabla">
                <i class="icon icon-list-alt"></i>
            </a>
            <a class="btn btn-small btn-grafico" title="Ver gráfico">
                <i class="icon icon-picture"></i>
            </a>
        </div>
    </form>

    <div style="clear: both"></div>
    <br>

    <table class="table table-hover table-condensed table-bordered tabla-datos">
        <thead>
            <tr>
                <th>Centro Familiar</th>
                <th>Fichas Activas</th>
                <th>Fichas Cerradas</th>
            </tr>
        </thead>
        <tbody>
            {% for centro in datos %}
                <tr>
                    <td>{{ centro.comuna }}</td>
                    <td>{{ centro.fichas_activas }}</td>
                    <td>{{ centro.fichas_cerradas }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Totales</th>
                <th>{{ total_fichas_activas }}</th>
                <th>{{ total_fichas_cerradas }}</th>
            </tr>
        </tfoot>
    </table>

    <div id="div-grafico-estado-ciclos" class="grafico" style="display: none; height: 400px"></div>

</div>
{% endblock %}

{% block extra_footer %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function(){
        var chart = new Highcharts.Chart({{ grafico|safe }});
    });

</script>
{% endblock %}