{% extends "reportes/base.html" %}

{% block report_content %}
<div id="compl_datos" class="section">
    <h3>Estado de Datos</h3>

    <table class="table table-hover table-condensed table-bordered tabla-datos">
        <thead>
            <tr>
                <th>Centro Familiar</th>
                <th>Parte I</th>
                <th>Parte II</th>
                <th>Parte III</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
{% endblock %}

{% block extra_footer %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function(){

    });

</script>
{% endblock %}