{% extends "reportes/base.html" %}

{% block report_content %}
<div id="promedios" class="section">
    <h3>Variación por factor (Todos los centros)</h3>
    <table class="table table-hover table-condensed table-bordered tabla-datos todos-centros">
        <thead>
            <tr>
                <th>Factor protector</th>
                <th>Promedio Inicio</th>
                <th>Promedio Cumplimiento</th>
                <th>Variación</th>
                <th>Componente</th>
                <th>Prom. Inicio (componente)</th>
                <th>Prom. Cumplimiento (componente)</th>
                <th>Variación (componente)</th>
            </tr>
        </thead>
        <tbody>
        {% for dato in datos %}
            <tr class="{% cycle 'r1' 'r2' 'r3' as the_row %}">
                <td>{{ dato.factor }}</td>
                <td>{{ dato.prom_ini }}</td>
                <td>{{ dato.prom_cum }}</td>
                <td>{{ dato.var }}</td>
                {% ifequal the_row 'r1' %}
                    <td rowspan="3" class="comp"></td>
                    <td rowspan="3" class="ini"></td>
                    <td rowspan="3" class="cum"></td>
                    <td rowspan="3" class="var"></td>
                {% endifequal %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for datos_centro in datos_centros %}
        <h3>{{ datos_centro.centro }}</h3>
        <table class="table table-hover table-condensed table-bordered tabla-datos tabla-centro">
            <thead>
                <tr>
                    <th>Factor protector</th>
                    <th>Promedio Inicio</th>
                    <th>Promedio Cumplimiento</th>
                    <th>Variación</th>
                    <th>Componente</th>
                    <th>Prom. Inicio (componente)</th>
                    <th>Prom. Cumplimiento (componente)</th>
                    <th>Variación (componente)</th>
                </tr>
            </thead>
            <tbody>
            {% for dato in datos_centro.dato %}
                <tr class="{% cycle 'r1' 'r2' 'r3' as the_row %}">
                    <td>{{ dato.factor }}</td>
                    <td>{{ dato.prom_ini }}</td>
                    <td>{{ dato.prom_cum }}</td>
                    <td>{{ dato.var }}</td>
                    {% ifequal the_row 'r1' %}
                        <td rowspan="3" class="comp"></td>
                        <td rowspan="3" class="ini"></td>
                        <td rowspan="3" class="cum"></td>
                        <td rowspan="3" class="var"></td>
                    {% endifequal %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}

</div>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">

    $(document).ready(function () {

        var datos_com = {{ datos_com|safe }};
        var x = 0;

        $("table.todos-centros tr.r1").each(function(){
            var $row = $(this);
            $row.find("td.comp").html(datos_com[x].componente);
            $row.find("td.ini").html(datos_com[x].ini);
            $row.find("td.cum").html(datos_com[x].cum);
            $row.find("td.var").html(datos_com[x].var);
            x = x + 1;
        });

        {% for dato_centro in datos_centros %}
            var $table = $($("table.tabla-centro")[{{ forloop.counter0 }}]);
            datos_com = {{ dato_centro.dato_com|safe }};
            x = 0;
            $table.find("tr.r1").each(function(){
                var $row = $(this);
                $row.find("td.comp").html(datos_com[x].componente);
                $row.find("td.ini").html(datos_com[x].ini);
                $row.find("td.cum").html(datos_com[x].cum);
                $row.find("td.var").html(datos_com[x].var);
                x = x + 1;
            });
        {% endfor %}


    });

</script>
{% endblock %}