{% extends "reportes/base.html" %}

{% block report_content %}
<div id="tipos_familias" class="section">
    <h3>Tipos de Familias</h3>

    <form class="form-inline">
        {% if es_admin %}
        <div class="pull-left" style="margin-right: 10px">
            Centro <select name="" id="" style="width: auto">
                {% for centro in centros %}
                    <option value="{{ centro }}"
                            {% ifequal centro mi_centro %}
                                selected="selected"
                            {% endifequal %}
                            >{{ centro }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="btn-group pull-left" data-toggle="buttons-radio">
            <a class="btn btn-small btn-tabla" title="Ver tabla">
                <i class="icon icon-list-alt"></i>
            </a>
            <a class="btn btn-small btn-grafico" title="Ver gráfico">
                <i class="icon icon-picture"></i>
            </a>
        </div>
        <div class="pull-left" style="margin-left: 10px">
            <label for="chk_fichas_activas" class="checkbox">
                <input type="checkbox" id="chk_fichas_activas"/>
                Sólo fichas activas
            </label>
        </div>
    </form>

    <div style="clear: both"></div>
    <br>

    <table class="table table-hover table-condensed table-bordered tabla-datos">
        <tbody>
            {% for dato in datos %}
                <tr>
                    <th>{{ dato.tipo }}</th>
                    <td>{{ dato.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="div-grafico-tipos-familias" class="grafico" style="display: none; height: 400px"></div>

</div>
{% endblock %}

{% block extra_footer %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function () {

    });

</script>
{% endblock %}