ul.errorlist{
    margin: 0 0 10px 180px;
}

ul.errorlist li{
    color: #B94A48;
    list-style-type: none;
}

.modal-body ul.errorlist{
    margin: 0;
}

.ficha-form tr > td > ul{
    margin:0;
}

.ficha-form tr > td > ul > li{
    display: inline;
    list-style-type: none;
    margin-right: 50px;
}

.ficha-form tr > td > ul > li > label {
    display: inline;
}