ul.errorlist{
    margin: 0 0 10px 180px;
}

ul.errorlist li{
    color: #B94A48;
    list-style-type: none;
}

.modal-body ul.errorlist{
    margin: 0;
}

.ficha-form tr > td > ul{
    margin:0;
}

.ficha-form tr > td > ul > li{
    display: inline;
    list-style-type: none;
    margin-right: 50px;
}

.ficha-form tr > td > ul > li > label {
    display: inline;
}

span.prom-ini,
span.prom-cum{
    width: 40px;
    border: 1px solid #999999;
    padding: 3px;
    display: inline-block;
    min-height: 20px;
}

.form-actions, .form-horizontal .form-actions{
    padding: 22px;
}