{% load common_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Familias{% endblock %} - Fundación de la Familia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css?_={% get_static_version %}">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css?_={% get_static_version %}">
    <link rel="stylesheet" href="/static/css/datepicker.css?_={% get_static_version %}">
    <link rel="stylesheet" href="/static/css/styles.css?_={% get_static_version %}">
    <!--[if IE 7]><link rel="stylesheet" href="/static/css/ie7.css?_={% get_static_version %}"><![endif]-->
    <!--[if IE 8]> <![endif]-->
    {% block extra_header %}{% endblock %}
</head>
{% block body_tag %}<body>{% endblock %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="/">Ficha Desarrollo {% block extra_brand %}{% endblock %}</a>

            {# MENU #}
            <ul class="nav" role="navigation">
                <li class="dropdown">
                    <a href="/reportes/" class="dropdown-toggle" data-toggle="dropdown">
                        Reportes <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop-add">
                        {% for period in PERIODS %}
                            <li>
                                <a href="/reportes/{{ period }}/">{{ period }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <div class="pull-right" style="padding: 0 10px 0 10px">
                {% block top_right_content %}
                {% endblock %}

                {% if user.is_authenticated %}

                    <div class="btn-group pull-right">
                        <a data-toggle="dropdown" class="btn dropdown-toggle" href="#">
                            <i class="icon-user"></i>
                            <span class="hidden-phone">{{ user.username }}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/accounts/changepasswd" class="navigation-link">Cambiar contraseña</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="navigation-link" href="/accounts/logout/">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>

                {% else %}

                {% endif %}
            </div>

        </div>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    <div class="container">
        <p class="muted credit">@{% get_date_now "%Y" %} Fundación de la Familia.</p>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js?_={% get_static_version %}"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.9.2.custom.min.js?_={% get_static_version %}"></script>
<script type="text/javascript" src="/static/js/json2.js?_={% get_static_version %}"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js?_={% get_static_version %}"></script>
<script type="text/javascript" src="/static/js/bootstrap-datepicker.js?_={% get_static_version %}"></script>
<script type="text/javascript" src="/static/js/locales/bootstrap-datepicker.es.js?_={% get_static_version %}"></script>
<script type="text/javascript" src="/static/js/scripts.js?_={% get_static_version %}"></script>
{% block extra_footer %}{% endblock %}
</body>
</html>