{% extends "base.html" %}

{% block content %}
    <div class="alert alert-danger">
        Está a punto de eliminar la persona "{{ persona }}":
        <br><br>
        Esta operación no se puede deshacer. Desea continuar?
        <br><br>

        <form action="" method="post">{% csrf_token %}
            <input type="hidden" name="id" value="{{ persona.id }}">
            <button type="submit" class="btn btn-danger">
                Sí
            </button>
            <a href="{{ next }}" class="btn">No</a>
        </form>
    </div>
{% endblock %}