{% extends 'base.html' %}
{% load common_tags %}

{% block title %}
    Ficha: {{ persona }}
{% endblock %}

{% block extra_brand %}
    {% if not es_admin %}
        - Centro Familiar {{ centro_familiar }}
    {% endif %}
{% endblock %}

{% block content %}

{#    template para la parte III#}
    <div style="display: none">
        <table>
            <tr id="template_fila-ind">
                <td>
                    <select name="componente-ind">
                        <option value="">--Seleccione--</option>
                        {% for componente in componentes %}
                            <option value="{{ componente.id }}">{{ componente }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="objetivo-ind">

                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-small btn_eliminar_obj">
                        <i class="icon-remove"></i>
                    </button>
                </td>
            </tr>
            <tr id="template_fila-grup">
                <td>
                    <select name="componente-grup">
                        <option value="">--Seleccione--</option>
                        {% for componente in componentes %}
                            <option value="{{ componente.id }}">{{ componente }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="objetivo-grup">

                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-small btn_eliminar_obj">
                        <i class="icon-remove"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <form id="form_ficha" action="" method="post" class="form-horizontal form-evaluacion">{% csrf_token %}

        {% if message %}
            <div class="alert alert-{{ message_class }}">
                {{ message }}
            </div>
            <br>
        {% endif %}

        {{ form.persona }}

        <div class="control-group" style="margin: 0">
            <label class="control-label">
                Ficha de Desarrollo N°:
            </label>
            <div class="controls" style="padding-top: 5px">
                <b>
                    {% if evaluacion %}
                        {{ evaluacion.id }}
                    {% endif %}
                </b>
            </div>
        </div>

        <div class="control-group" style="margin: 0">
            <label class="control-label">
                Familia:
            </label>
            <div class="controls" style="padding-top: 5px">
                <b>{{ persona.familia }} ({{ persona.familia.id|zfill:10 }})</b>
            </div>
        </div>

        <div class="control-group" style="margin: 0">
            <label class="control-label">
                Persona:
            </label>
            <div class="controls" style="padding-top: 5px">
                <b>{{ persona }}</b>
            </div>
        </div>

        <div class="control-group" style="margin: 0">
            {% if form.anio_aplicacion.errors %}
                {{ form.anio_aplicacion.errors }}
            {% endif %}
            <label class="control-label">
                Año de aplicación:
            </label>
            <div class="controls" style="padding-top: 5px">
                {% if evaluacion %}
                    <b>{{ anio }}</b>
                    {{ form.anio_aplicacion }}
                {% else %}
                    <input type="text" name="{{ form.anio_aplicacion.name }}">
                {% endif %}
            </div>
        </div>

        <br>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#parte2" data-toggle="tab">Parte II: Evaluación de Factores Protectores</a></li>
            <li><a href="#parte3" data-toggle="tab">Parte III: Plan de Desarrollo</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="parte2">
                {% include 'ficha_parte2.html' %}
            </div>
            <div class="tab-pane" id="parte3">
                {% include 'ficha_parte3.html' %}
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" value="Guardar" class="btn btn-primary">
                Guardar
            </button>

            {% if evaluacion %}
                <a href="/ficha/{{ persona.id }}/{{ evaluacion.anio_aplicacion }}/del/?{{ str_filters }}" class="btn">
                    Eliminar Ficha
                </a>
            {% endif %}

            <a href="{{ back_url }}" class="pull-right">
                Volver
            </a>

        </div>

    </form>

{% endblock %}

{% block extra_footer %}
<script type="text/javascript">

    function promediar($fila, etapa){
        var $table = $fila.closest('table');
        var suma = 0;
        var num_elementos = 0;
        var $radios = $table.find("input[type='radio']." + etapa);
        for(var i=0; i<$radios.length; i++){
            var $r = $($radios[i]);
            if($r.is(':checked')){
                var valor = parseInt($r.val());
                if(valor != -100){
                    suma += valor;
                    num_elementos++;
                }
            }
        }
        if(num_elementos > 0){
            var promedio = round_number(suma / num_elementos, 2);
            $table.find(".prom-" + etapa).html(promedio);
            //actualizar_totales($table, etapa, promedio);
        } else {
            $table.find(".prom-" + etapa).html("");
            //actualizar_totales($table, etapa, 0);
        }
    }

    function actualizar_totales($table, etapa, promedio){
        if($table.hasClass("relaciones")) {
            $("#rel_comu_"+etapa).html(promedio);
        } else if($table.hasClass("acceso")) {
            $("#acc_"+etapa).html(promedio);
        } else if($table.hasClass("vinculos")) {
            $("#vinc_fam_"+etapa).html(promedio);
        } else if($table.hasClass("der-infantiles")) {
            $("#der_inf_"+etapa).html(promedio);
        } else if($table.hasClass("des-personal")) {
            $("#des_per_"+etapa).html(promedio);
        }
    }

    var factores = JSON.parse('{{ factores_json|safe }}');

    $(document).ready(function () {

        /*
        Logica de los radiobutton
         */
        $('.fila-evaluacion').each(function(){

            var $fila = $(this);

            $fila.find("input[type='radio'].ini").change(function(){
                var valor = $(this).val();
                promediar($fila, 'ini');
            });

            $fila.find("input[type='radio'].cum").change(function(){
                var valor = $(this).val();
                promediar($fila, 'cum');
            });

            $fila.find(".link-limpiar-ini").click(function(){
                $fila.find("input[type='radio'].ini").each(function(){
                    $(this).attr("checked", false);
                });
                promediar($fila, 'ini');
                return false;
            });

            $fila.find(".link-limpiar-cum").click(function(){
                $fila.find("input[type='radio'].cum").each(function(){
                    $(this).attr("checked", false);
                });
                promediar($fila, 'cum');
                return false;
            });

        });

        promediar($("table.relaciones").first(".fila-evaluacion"), 'ini');
        promediar($("table.relaciones").first(".fila-evaluacion"), 'cum');

        promediar($("table.acceso").first(".fila-evaluacion"), 'ini');
        promediar($("table.acceso").first(".fila-evaluacion"), 'cum');

        promediar($("table.vinculos").first(".fila-evaluacion"), 'ini');
        promediar($("table.vinculos").first(".fila-evaluacion"), 'cum');

        promediar($("table.der-infantiles").first(".fila-evaluacion"), 'ini');
        promediar($("table.der-infantiles").first(".fila-evaluacion"), 'cum');

        promediar($("table.des-personal").first(".fila-evaluacion"), 'ini');
        promediar($("table.des-personal").first(".fila-evaluacion"), 'cum');


        // --- Parte III ------------------------------

        function bind_fila_objetivos(){
            $("select[name='componente-ind']").change(function(){
                var select_obj = $(this).closest('tr').find("select[name='objetivo-ind']");
                select_obj.html("");
                var comp_id = $(this).val();
                if(comp_id != ""){
                    comp_id = parseInt(comp_id);
                    var options = "";
                    for(var i=0; i<factores.length; i++){
                        if(factores[i].fields.componente == comp_id) {
                            if(factores[i].fields.objetivo_personal != null) {
                                options += "<option value='"+factores[i].pk+"'>"+factores[i].fields.objetivo_personal+"</option>";
                            }
                        }
                    }
                    select_obj.html(options);
                }
            });
            $("select[name='componente-grup']").change(function(){
                var select_obj = $(this).closest('tr').find("select[name='objetivo-grup']");
                select_obj.html("");
                var comp_id = $(this).val();
                if(comp_id != ""){
                    comp_id = parseInt(comp_id);
                    var options = "";
                    for(var i=0; i<factores.length; i++){
                        if(factores[i].fields.componente == comp_id) {
                            if(factores[i].fields.objetivo_grupal != null) {
                                options += "<option value='"+factores[i].pk+"'>"+factores[i].fields.objetivo_grupal+"</option>";
                            }
                        }
                    }
                    select_obj.html(options);
                }
            });
        }

        function bind_btn_eliminar_obj(){
            $(".btn_eliminar_obj").click(function(){
                $(this).closest("tr").remove();
            });
        }

        bind_fila_objetivos();
        bind_btn_eliminar_obj();
        var $template_fila_ind = $("#template_fila-ind");
        var $template_fila_grup = $("#template_fila-grup");

        $("#btn_agregar_obj_ind").click(function(){
            var $tabla_objetivos = $(this).closest("li").find("table.tabla-objetivos");
            $tabla_objetivos.find("tbody").append("<tr class='fila_objs'>" + $template_fila_ind.html() + "</tr>");
            bind_fila_objetivos();
            bind_btn_eliminar_obj();
        });
        $("#btn_agregar_obj_grup").click(function(){
            var $tabla_objetivos = $(this).closest("li").find("table.tabla-objetivos");
            $tabla_objetivos.find("tbody").append("<tr class='fila_objs'>" + $template_fila_grup.html() + "</tr>");
            bind_fila_objetivos();
            bind_btn_eliminar_obj();
        });

        var $form_ficha = $("#form_ficha");

        $form_ficha.submit(function(){


        });
    });
</script>
{% endblock %}