{% extends 'base.html' %}
{% load common_tags %}

{% block title %}
    Ficha: {{ persona }}
{% endblock %}

{% block extra_brand %}
    {% if not es_admin %}
        - Centro Familiar {{ centro_familiar }}
    {% endif %}
{% endblock %}

{% block content %}

{#    template para la parte III#}
    <div style="display: none" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <table>
            <tr id="template_fila-ind">
                <td>
                    <select name="componente-ind">
                        <option value="">--Seleccione--</option>
                        {% for componente in componentes %}
                            <option value="{{ componente.id }}">{{ componente }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="objetivo-ind" class="input-xlarge">

                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-small btn_eliminar_obj">
                        <i class="icon-remove"></i>
                    </button>
                </td>
            </tr>
            <tr id="template_fila-grup">
                <td>
                    <select name="componente-grup">
                        <option value="">--Seleccione--</option>
                        {% for componente in componentes %}
                            <option value="{{ componente.id }}">{{ componente }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="objetivo-grup" class="input-xlarge">

                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-small btn_eliminar_obj">
                        <i class="icon-remove"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <form id="form_ficha" action="" method="post" class="form-horizontal form-evaluacion">{% csrf_token %}

        {% if message %}
            <div class="alert alert-{{ message_class }}">
                {{ message|safe }}
            </div>
            <br>
        {% endif %}

        {{ form.persona }}

        <div class="control-group" style="margin: 0">
            <label class="control-label">
                Ficha de Desarrollo N°:
            </label>
            <div class="controls" style="padding-top: 5px">
                <b>
                    {% if evaluacion %}
                        {{ evaluacion.id }}
                    {% endif %}
                </b>
            </div>
        </div>

        <div class="control-group" style="margin: 0">
            <label class="control-label">
                Familia:
            </label>
            <div class="controls" style="padding-top: 5px">
                <b>{{ persona.familia }} ({{ persona.familia.id|zfill:10 }})</b>
            </div>
        </div>

        <div class="control-group" style="margin: 0">
            <label class="control-label">
                Persona:
            </label>
            <div class="controls" style="padding-top: 5px">
                <b>{{ persona }}</b>
            </div>
        </div>

        <div class="control-group" style="margin: 0">
            {% if form.anio_aplicacion.errors %}
                {{ form.anio_aplicacion.errors }}
            {% endif %}
            <label class="control-label">
                Año de aplicación:
            </label>
            <div class="controls" style="padding-top: 5px">
                {% if evaluacion %}
                    <b>{{ anio }}</b>
                    {{ form.anio_aplicacion }}
                {% else %}
                    <input type="text" name="{{ form.anio_aplicacion.name }}" value="{{ form.anio_aplicacion.value }}">
                {% endif %}
                {% if show_previous_ev_btn %}
                    <a href="#" id="btnReusarDatos">
                        Utilizar puntaje ficha anterior
                    </a>
                {% endif %}
            </div>
        </div>

        <br>

        <ul class="nav nav-tabs">
            <li {% ifequal tab 1 %}class="active"{% endifequal %}><a href="#parte2" data-toggle="tab">Parte II: Evaluación de Factores Protectores</a></li>
            <li {% ifequal tab 2 %}class="active"{% endifequal %}><a href="#parte3" data-toggle="tab">Parte III: Plan de Desarrollo</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane {% ifequal tab 1 %}active{% endifequal %}" id="parte2">
                {% include 'ficha_parte2.html' %}
            </div>
            <div class="tab-pane {% ifequal tab 2 %}active{% endifequal %}" id="parte3">
                {% include 'ficha_parte3.html' %}
            </div>
        </div>

        <div class="form-actions">
            <input name="action" type="submit" value="Guardar" class="btn btn-primary"
                {% if evaluacion %}
                    {% if evaluacion.ciclo_cerrado %}
                        disabled="disabled" style="display: none"
                    {% endif %}
                {% endif %}/>

            {% if evaluacion %}
                <a href="/ficha/{{ persona.id }}/{{ evaluacion.anio_aplicacion }}/del/?{{ str_filters }}" class="btn">
                    Eliminar Ficha
                </a>

                {% if not evaluacion.ciclo_cerrado %}
                    <span style="margin: 0 20px">|</span>
                    <input name="action" type="submit" value="{{ cerrar_ciclo_label }}" class="btn" />
                {% endif %}

            {% endif %}

            <a href="{{ back_url }}" class="pull-right">
                Volver
            </a>

        </div>

    </form>

{% endblock %}

{% block extra_footer %}
<script type="text/javascript">

    function promediar($fila, etapa){
        var $table = $fila.closest('table');
        var suma = 0;
        var num_elementos = 0;
        var $radios = $table.find("input[type='radio']." + etapa);
        for(var i=0; i<$radios.length; i++){
            var $r = $($radios[i]);
            if($r.is(':checked')){
                var valor = parseInt($r.val());
                if(valor != -100){
                    suma += valor;
                    num_elementos++;
                }
            }
        }
        if(num_elementos > 0){
            var promedio = round_number(suma / num_elementos, 2);
            $table.find(".prom-" + etapa).html(promedio);
            actualizar_totales($table, etapa, promedio);
        } else {
            $table.find(".prom-" + etapa).html("");
            if(etapa=='cum'){
                actualizar_totales($table, etapa, '-');
            } else {
                actualizar_totales($table, etapa, 0);
            }

        }
    }

    function actualizar_totales($table, etapa, promedio){
        if($table.hasClass("relaciones")) {
            $("#rel_comu_"+etapa).html(promedio);
        } else if($table.hasClass("acceso")) {
            $("#acc_"+etapa).html(promedio);
        } else if($table.hasClass("vinculos")) {
            $("#vinc_fam_"+etapa).html(promedio);
        } else if($table.hasClass("der-infantiles")) {
            $("#der_inf_"+etapa).html(promedio);
        } else if($table.hasClass("des-personal")) {
            $("#des_per_"+etapa).html(promedio);
        }
        actualizar_variacion($table);
    }

    function actualizar_variacion($table){
        $("table.tabla-eval-cuanti tbody tr").each(function(){
            var $this = $(this);
            var prom_ini = $this.find("span.ini").html().trim();
            if(prom_ini != ""){
                prom_ini = parseFloat(prom_ini);
            } else {
                prom_ini = 0;
            }
            var prom_cum = $this.find("span.cum").html().trim();
            if(prom_cum != "" && prom_cum != '-'){
                prom_cum = parseFloat(prom_cum);
            } else {
                prom_cum = 0;
            }
            var variacion = round_number(prom_cum - prom_ini);
            if(variacion == 0){
                //verificar si son solo NA
                var $span_prom_ini = $table.find("span.prom-ini");
                var $span_prom_cum = $table.find("span.prom-cum");
                if($span_prom_ini.html().trim() == "" || $span_prom_cum.html().trim() == ""){
                    variacion = "-";
                }
            }
            $this.find("span.var").html("" + variacion);
        });
    }

    var factores = JSON.parse('{{ factores_json|safe }}');
    var objetivos_ind = JSON.parse('{{ objetivos_ind_qs|safe }}');
    var objetivos_grup = JSON.parse('{{ objetivos_grup_qs|safe }}');

    $(document).ready(function () {

        /*
        Logica de los radiobutton
         */
        $('.fila-evaluacion').each(function(){

            var $fila = $(this);

            $fila.find("input[type='radio'].ini").change(function(){
                var valor = $(this).val();
                promediar($fila, 'ini');
            });

            $fila.find("input[type='radio'].cum").change(function(){
                var valor = $(this).val();
                promediar($fila, 'cum');
            });

            $fila.find(".link-limpiar-ini").click(function(){
                $fila.find("input[type='radio'].ini").each(function(){
                    $(this).attr("checked", false);
                });
                promediar($fila, 'ini');
                return false;
            });

            $fila.find(".link-limpiar-cum").click(function(){
                $fila.find("input[type='radio'].cum").each(function(){
                    $(this).attr("checked", false);
                });
                promediar($fila, 'cum');
                return false;
            });

        });

        promediar($("table.relaciones").first(".fila-evaluacion"), 'ini');
        promediar($("table.relaciones").first(".fila-evaluacion"), 'cum');

        promediar($("table.acceso").first(".fila-evaluacion"), 'ini');
        promediar($("table.acceso").first(".fila-evaluacion"), 'cum');

        promediar($("table.vinculos").first(".fila-evaluacion"), 'ini');
        promediar($("table.vinculos").first(".fila-evaluacion"), 'cum');

        promediar($("table.der-infantiles").first(".fila-evaluacion"), 'ini');
        promediar($("table.der-infantiles").first(".fila-evaluacion"), 'cum');

        promediar($("table.des-personal").first(".fila-evaluacion"), 'ini');
        promediar($("table.des-personal").first(".fila-evaluacion"), 'cum');


        // --- Parte III ------------------------------

        /**
         * Establece las acciones para los eventos change de los select de componentes
         * para popular los select de objetivos
         */
        function bind_fila_objetivos(){
            $("select[name='componente-ind']").change(function(){
                var select_obj = $(this).closest('tr').find("select[name='objetivo-ind']");
                select_obj.html("");
                var comp_id = $(this).val();
                if(comp_id != ""){
                    comp_id = parseInt(comp_id);
                    var options = "";
                    for(var i=0; i<factores.length; i++){
                        if(factores[i].fields.componente == comp_id) {
                            if(factores[i].fields.objetivo_personal != null) {
                                options += "<option value='"+factores[i].pk+"'>"+factores[i].fields.objetivo_personal+"</option>";
                            }
                        }
                    }
                    select_obj.html(options);
                }
            });
            $("select[name='componente-grup']").change(function(){
                var select_obj = $(this).closest('tr').find("select[name='objetivo-grup']");
                select_obj.html("");
                var comp_id = $(this).val();
                if(comp_id != ""){
                    comp_id = parseInt(comp_id);
                    var options = "";
                    for(var i=0; i<factores.length; i++){
                        if(factores[i].fields.componente == comp_id) {
                            if(factores[i].fields.objetivo_grupal != null) {
                                options += "<option value='"+factores[i].pk+"'>"+factores[i].fields.objetivo_grupal+"</option>";
                            }
                        }
                    }
                    select_obj.html(options);
                }
            });
        }

        /**
         * Establece las acciones del boton eliminar objetivo
         */
        function bind_btn_eliminar_obj(){
            $(".btn_eliminar_obj").click(function(){
                $(this).closest("tr").remove();
                check_contador_objetivos();
            });
        }

        /**
         * Establece las acciones para el boton agregar objetivo
         */
        function bind_btn_agregar_obj(){
            $("#btn_agregar_obj_ind").click(function(){
                var $template_fila_ind = $("#template_fila-ind");
                var $tabla_objetivos = $(this).closest("li").find("table.tabla-objetivos");
                $tabla_objetivos.find("tbody").append("<tr class='fila_objs'>" + $template_fila_ind.html() + "</tr>");
                bind_fila_objetivos();
                bind_btn_eliminar_obj();
                check_contador_objetivos();
            });
            $("#btn_agregar_obj_grup").click(function(){
                var $template_fila_grup = $("#template_fila-grup");
                var $tabla_objetivos = $(this).closest("li").find("table.tabla-objetivos");
                $tabla_objetivos.find("tbody").append("<tr class='fila_objs'>" + $template_fila_grup.html() + "</tr>");
                bind_fila_objetivos();
                bind_btn_eliminar_obj();
                check_contador_objetivos();
            });
        }

        /**
         * Si hay 2 o mas objetivos entonces deshabilitar los botones agregar obj.
         */
        function check_contador_objetivos(){
            var contador_objetivos = $("tr.fila_objs").length;
            if(contador_objetivos >= 2) {
                $("#btn_agregar_obj_ind").attr("disabled", "disabled");
                $("#btn_agregar_obj_grup").attr("disabled", "disabled");
            } else {
                $("#btn_agregar_obj_ind").removeAttr("disabled");
                $("#btn_agregar_obj_grup").removeAttr("disabled");
            }
        }

        function poblar_objetivos(tipo){
            var objetivos;
            if(tipo == 'ind') {
                objetivos = objetivos_ind;
            } else {
                objetivos = objetivos_grup;
            }

            var i;

            for(i=0; i<objetivos.length; i++){

                var comp_id = parseInt(objetivos[i].componente);
                var select_comp = "<select name='componente-"+tipo+"'><option value=''>--Seleccione--</option>";
                {% for componente in componentes %}
                    if(comp_id == {{ componente.id }}){
                        select_comp += "<option value='{{ componente.id }}' selected='selected'>{{ componente }}</option>";
                    } else {
                        select_comp += "<option value='{{ componente.id }}'>{{ componente }}</option>";
                    }
                {% endfor %}
                select_comp += "</select>";

                var fact_id = parseInt(objetivos[i].factor);
                var select_obj = "<select class='input-xlarge' name='objetivo-"+tipo+"'>";
                var options = "";
                var j = 0;
                for(j=0; j<factores.length; j++){
                    if(factores[j].fields.componente == comp_id) {
                        if(factores[j].fields.objetivo_personal != null) {
                            if(fact_id == factores[j].pk){
                                options += "<option value='"+factores[j].pk+"' selected='selected'>"+factores[j].fields.objetivo_personal+"</option>";
                            } else {
                                options += "<option value='"+factores[j].pk+"'>"+factores[j].fields.objetivo_personal+"</option>";
                            }
                        }
                    }
                }
                select_obj += options + "</select>";

                var html = "<td>" + select_comp + "</td>";
                html += "<td>" + select_obj + "</td>";
                html += "<td>";
                html += "<button type='button' class='btn btn-small btn_eliminar_obj'>";
                html += "<i class='icon-remove'></i>";
                html += "</button>";
                html += "</td>";

                $("table.objetivos-"+tipo).find("tbody").append("<tr class='fila_objs'>" + html + "</tr>");
            }
        }

        {% if not evaluacion.ciclo_cerrado %}
        poblar_objetivos("ind");
        poblar_objetivos("grup");
        {% endif %}
        check_contador_objetivos();
        bind_btn_eliminar_obj();
        bind_fila_objetivos();
        bind_btn_agregar_obj();

        $(".ul_opciones_talleres label").click(function(e) {
            e.stopPropagation();  // previene el auto cerrado del menu
            var $ul_opciones_talleres = $(this).closest("ul.ul_opciones_talleres");
            var $ul_seleccion = $(this).closest("td").find("ul.seleccion");
            $ul_seleccion.html("");
            $ul_opciones_talleres.find("input[type='checkbox']").each(function(){
                if($(this).is(":checked")){
                    $ul_seleccion.append("<li>"+$(this).parent().find("span").html()+"</li>");
                }
            });
        });

        var $form_ficha = $("#form_ficha");

        $form_ficha.submit(function(){


        });

        var $btnReusarDatos = $("#btnReusarDatos");
        if($btnReusarDatos.length == 1) {
            $btnReusarDatos.click(function(){
                $.ajax({
                    url: "/ficha/{{ persona.id }}/copiar/",
                    type: "GET",
                    dataType: 'json',
                    success: function (data) {
                        if(data.success) {
                            data = data.data;
                            for (var item in data) {
                                if(data.hasOwnProperty(item))
                                    $('#id_' + item + '_' + data[item]).attr('checked', 'checked');
                            }
                        }
                    }
                });
            });
        }
    });
</script>
{% endblock %}