
<h1>Parte III: Plan de Desarrollo</h1>

<br>

<h3>I. Propuesta de Trabajo (Inicio)</h3>

<label><strong>a. Objetivos de Desarrollo Socio-Familiar:</strong></label>

<br>

<ul>
    <li>
        <strong>Por Individuo</strong>
        <br>
        <br>
        <table class="table table-hover table-condensed tabla-objetivos objetivos-ind">
            <thead>
            <tr>
                <td>Componente</td>
                <td>Objetivo del Factor Protector</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div class="pull-right">
            <button id="btn_agregar_obj_ind" type="button" class="btn btn-small">
                <i class="icon-plus-sign"></i>
                Agregar Objetivo
            </button>
        </div>

        <div style="clear: both"></div>
        <br>
    </li>
    <li>
        <strong>Por Grupo Familiar</strong>
        <br>
        <br>
        <table class="table table-hover table-condensed tabla-objetivos objetivos-grup">
            <thead>
            <tr>
                <td>Componente</td>
                <td>Objetivo del Factor Protector</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
{#            <tr class="fila_objs">#}
{#                <td>#}
{#                    <select name="componente-grup">#}
{#                        <option value="">--Seleccione--</option>#}
{#                        {% for componente in componentes %}#}
{#                            <option value="{{ componente.id }}">{{ componente }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </td>#}
{#                <td>#}
{#                    <select name="objetivo-grup" class="input-xlarge">#}
{##}
{#                    </select>#}
{#                </td>#}
{#                <td>#}
{#                    <button type="button" class="btn btn-small btn_eliminar_obj">#}
{#                        <i class="icon-remove"></i>#}
{#                    </button>#}
{#                </td>#}
{#            </tr>#}
            </tbody>
        </table>

        <div class="pull-right">
            <button id="btn_agregar_obj_grup" type="button" class="btn btn-small">
                <i class="icon-plus-sign"></i>
                Agregar Objetivo
            </button>
        </div>

        <div style="clear: both"></div>
        <br>
    </li>
</ul>

<br>

<label><strong>b. Propuesta de Ciclo de Desarrollo Socio-Familiar:</strong></label>
{{ form.propuesta_ciclo_desarrollo_socio_fam }}

<br>

<hr>

<h3>II. Revisión del Proceso (Cumplimiento)</h3>

<label><strong>a. Ciclo de Desarrollo Socio-Familiar realizado:</strong></label>

<table class="table table-hover table-condensed table-bordered tabla-ciclo-desarrollo">
    <thead>
    <tr>
        <td></td>
        <th>Desarrollo y Formación Familiar</th>
        <th>Cultura, Salud y Medio Ambiente</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Talleres Grupales</th>
        <td>
{#             <label class="checkbox"> <input type="checkbox">Talleres de Formación y Orientación Familiar.</label>#}
            <select name="ciclo_realizado">
                <option value="">--Seleccione--</option>
                <option {% if form.instance.tall_for_ori %}selected="selected"{% endif %} value="tall_for_ori">Talleres de Formación y Orientación Familiar.</option>
            </select>
        </td>
        <td>
            <select name="ciclo_realizado">
                <option value="">--Seleccione--</option>
                <option {% if form.instance.tall_dep_rec %}selected="selected"{% endif %} value="tall_dep_rec">Talleres Deportivos Recreativos.</option>
                <option {% if form.instance.tall_fut_cal %}selected="selected"{% endif %} value="tall_fut_cal">Talleres Fútbol Calle.</option>
                <option {% if form.instance.tall_boccias %}selected="selected"{% endif %} value="tall_boccias">Talleres Boccias.</option>
                <option {% if form.instance.tall_art_cul %}selected="selected"{% endif %} value="tall_art_cul">Talleres Artísticos y Culturales.</option>
                <option {% if form.instance.tall_ali_sal %}selected="selected"{% endif %} value="tall_ali_sal">Talleres de Alimentación Saludable.</option>
                <option {% if form.instance.tall_hue_fam %}selected="selected"{% endif %} value="tall_hue_fam">Talleres de Huertos Familiares.</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Eventos y Encuentros</th>
        <td>
            <select name="ciclo_realizado">
                <option value="">--Seleccione--</option>
                <option {% if form.instance.enc_familiar %}selected="selected"{% endif %} value="enc_familiar">Encuentros Familiares. </option>
                <option {% if form.instance.even_recreat %}selected="selected"{% endif %} value="even_recreat">Eventos Recreativos. </option>
            </select>
        </td>
        <td>
            <select name="ciclo_realizado">
                <option value="">--Seleccione--</option>
                <option {% if form.instance.even_enc_cam %}selected="selected"{% endif %} value="even_enc_cam">Eventos, Encuentros y Campeonatos Deportivos.</option>
                <option {% if form.instance.even_dep_fam %}selected="selected"{% endif %} value="even_dep_fam">Eventos Deportivos Familiares.</option>
                <option {% if form.instance.even_cultura %}selected="selected"{% endif %} value="even_cultura">Eventos Culturales.</option>
                <option {% if form.instance.mues_fam_art %}selected="selected"{% endif %} value="mues_fam_art">Muestras Familiares Artísticos- Culturales.</option>
                <option {% if form.instance.enc_vida_sal %}selected="selected"{% endif %} value="enc_vida_sal">Encuentros de Vida Saludable.</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Módulos y Acciones Complementarias</th>
        <td>
            <select name="ciclo_realizado">
                <option value="">--Seleccione--</option>
                <option {% if form.instance.mod_form_fam %}selected="selected"{% endif %} value="mod_form_fam">Módulos de Formación Familiar.</option>
                <option {% if form.instance.acc_inf_difu %}selected="selected"{% endif %} value="acc_inf_difu">Acciones de Información y Difusión.</option>
                <option {% if form.instance.aten_ind_fam %}selected="selected"{% endif %} value="aten_ind_fam">Atención Individual y Familiar.</option>
            </select>
        </td>
        <td>
            <select name="ciclo_realizado">
                <option value="">--Seleccione--</option>
                <option {% if form.instance.mod_clin_dep %}selected="selected"{% endif %} value="mod_clin_dep">Módulos y Clínicas Deportivas.</option>
                <option {% if form.instance.acc_pase_vis %}selected="selected"{% endif %} value="acc_pase_vis">Acceso, Paseos, Visitas y Salidas Culturales.</option>
                <option {% if form.instance.mod_clin_art %}selected="selected"{% endif %} value="mod_clin_art">Módulos y Clínicas Artístico- Culturales.</option>
                <option {% if form.instance.acc_recu_are %}selected="selected"{% endif %} value="acc_recu_are">Acciones de Recuperación de Áreas Verdes.</option>
                <option {% if form.instance.mod_clin_ali %}selected="selected"{% endif %} value="mod_clin_ali">Módulos y Clínicas de Alimentación Saludable, Huertos y Medioambiente.</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>

<label><strong>b. Comentarios:</strong></label>
{{ form.comentarios }}

<br><br>

<label><strong>c. Evaluación cuantitativa del proceso</strong></label>

<table class="table table-hover table-bordered tabla-eval-cuanti">
    <thead>
    <tr>
        <th>Componentes</th>
        <th>Puntaje Inicio (I)</th>
        <th>Puntaje Cumplimiento (C)</th>
        <th>Puntaje Variación (C)-(I)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Relaciones Comunitarias</td>
        <td class="eval-cuanti"><span  id="rel_comu_ini"></span></td>
        <td class="eval-cuanti"><span  id="rel_comu_cum"></span></td>
        <td class="eval-cuanti"><span  id="rel_comu_var"></span></td>
    </tr>
    <tr>
        <td>Acceso</td>
        <td class="eval-cuanti"><span  id="acc_ini"></span></td>
        <td class="eval-cuanti"><span  id="acc_cum"></span></td>
        <td class="eval-cuanti"><span  id="acc_var"></span></td>
    </tr>
    <tr>
        <td>Vínculos Familiares</td>
        <td class="eval-cuanti"><span  id="vinc_fam_ini"></span></td>
        <td class="eval-cuanti"><span  id="vinc_fam_cum"></span></td>
        <td class="eval-cuanti"><span  id="vinc_fa,_var"></span></td>
    </tr>
    <tr>
        <td>Derechos Infantiles</td>
        <td class="eval-cuanti"><span  id="der_inf_ini"></span></td>
        <td class="eval-cuanti"><span  id="der_inf_cum"></span></td>
        <td class="eval-cuanti"><span  id="der_inf_var"></span></td>
    </tr>
    <tr>
        <td>Desarrollo Personal</td>
        <td class="eval-cuanti"><span  id="des_per_ini"></span></td>
        <td class="eval-cuanti"><span  id="des_per_cum"></span></td>
        <td class="eval-cuanti"><span  id="des_per_var"></span></td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td></td>
    </tr>
    </tbody>
</table>

<br>

<label><strong>d. Evaluación cualitativa del proceso y cumplimiento de objetivos</strong></label>

{{ form.evaluacion_cualitativa }}


