
<h1>Parte III: Plan de Desarrollo</h1>

<br>

<h3>I. Propuesta de Trabajo (Inicio)</h3>

<label><strong>a. Objetivos de Desarrollo Socio-Familiar:</strong></label>

<br>

<ul>
    <li>
        <strong>Por Individuo</strong>
        <br>
        <br>
        <table class="table table-hover table-condensed tabla-objetivos">
            <thead>
            <tr>
                <td>Componente</td>
                <td>Objetivo del Factor Protector</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr class="fila_objs">
                <td>
                    <select name="componente-ind">
                        <option value="">--Seleccione--</option>
                        {% for componente in componentes %}
                            <option value="{{ componente.id }}">{{ componente }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="objetivo-ind">

                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-small btn_eliminar_obj">
                        <i class="icon-remove"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pull-right">
            <button id="btn_agregar_obj_ind" type="button" class="btn btn-small">
                <i class="icon-plus-sign"></i>
                Agregar Objetivo
            </button>
        </div>

        <div style="clear: both"></div>
        <br>
    </li>
    <li>
        <strong>Por Grupo Familiar</strong>
        <br>
        <br>
        <table class="table table-hover table-condensed tabla-objetivos">
            <thead>
            <tr>
                <td>Componente</td>
                <td>Objetivo del Factor Protector</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr class="fila_objs">
                <td>
                    <select name="componente-grup">
                        <option value="">--Seleccione--</option>
                        {% for componente in componentes %}
                            <option value="{{ componente.id }}">{{ componente }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="objetivo-grup">

                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-small btn_eliminar_obj">
                        <i class="icon-remove"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pull-right">
            <button id="btn_agregar_obj_grup" type="button" class="btn btn-small">
                <i class="icon-plus-sign"></i>
                Agregar Objetivo
            </button>
        </div>

        <div style="clear: both"></div>
        <br>
    </li>
</ul>

{% comment %}
<table id="tabla_objetivos" class="table table-hover table-condensed tabla-objetivos">
    <thead>
    <tr>
        <th>Componente</th>
        <th>Objetivo del participante</th>
        <th>Objetivo del grupo familiar</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% if evaluacion %}

        {% if evaluacion.objetivos_desarrollo_socio_fam %}

            {% for obj in evaluacion.objetivos_desarrollo_socio_fam %}

                <tr class="fila_objs">
                    <td>
                        <textarea class="componente" cols="30" rows="3" name="obj_componente">{{ obj.obj_componente }}</textarea>
                    </td>
                    <td>
                        <textarea class="obj-participante" cols="30" rows="3" name="obj_participante">{{ obj.obj_participante }}</textarea>
                    </td>
                    <td>
                        <textarea class="obj-grupo" cols="30" rows="3" name="obj_grupo">{{ obj.obj_grupo }}</textarea>
                    </td>
                    <td>
                        <button type="button" class="btn btn-mini btn_eliminar_obj" title="Eliminar objetivo">
                            <i class="icon-remove"></i>
                        </button>
                    </td>
                </tr>

            {% endfor %}

        {% else %}

            <tr class="fila_objs">
                <td>
                    <textarea class="componente" cols="30" rows="3" name="obj_componente"></textarea>
                </td>
                <td>
                    <textarea class="obj-participante" cols="30" rows="3" name="obj_participante"></textarea>
                </td>
                <td>
                    <textarea class="obj-grupo" cols="30" rows="3" name="obj_grupo"></textarea>
                </td>
                <td>
                    <button type="button" class="btn btn-mini btn_eliminar_obj" title="Eliminar objetivo">
                        <i class="icon-remove"></i>
                    </button>
                </td>
            </tr>

        {% endif %}

    {% else %}

        <tr class="fila_objs">
            <td>
                <textarea class="componente" cols="30" rows="3" name="obj_componente"></textarea>
            </td>
            <td>
                <textarea class="obj-participante" cols="30" rows="3" name="obj_participante"></textarea>
            </td>
            <td>
                <textarea class="obj-grupo" cols="30" rows="3" name="obj_grupo"></textarea>
            </td>
            <td>
                <button type="button" class="btn btn-mini btn_eliminar_obj" title="Eliminar objetivo">
                    <i class="icon-remove"></i>
                </button>
            </td>
        </tr>

    {% endif %}

    </tbody>
</table>

<div class="pull-right">
    <button id="btn_agregar_obj" type="button" class="btn btn-small">
        <i class="icon-plus-sign"></i>
        Agregar Objetivo
    </button>
</div>
{% endcomment %}

<br>

<label><strong>b. Propuesta de Ciclo de Desarrollo Socio-Familiar:</strong></label>
{{ form.propuesta_ciclo_desarrollo_socio_fam }}

<hr>

<h3>II. Revisión del Proceso (Cumplimiento)</h3>

<label><strong>a. Ciclo de Desarrollo Socio-Familiar realizado:</strong></label>

<table class="table table-hover table-condensed table-bordered tabla-ciclo-desarrollo">
    <thead>
    <tr>
        <td></td>
        <th>Desarrollo y Formación Familiar</th>
        <th>Cultura, Salud y Medio Ambiente</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Talleres Grupales</th>
        <td>
             <label class="checkbox"> <input type="checkbox">Talleres de Formación y Orientación Familiar.</label>
        </td>
        <td>
            <label class="checkbox"> <input type="checkbox">Talleres Deportivos Recreativos.</label>
            <label class="checkbox"> <input type="checkbox">Talleres Fútbol Calle.</label>
            <label class="checkbox"> <input type="checkbox">Talleres Boccias.</label>
            <label class="checkbox"> <input type="checkbox">Talleres Artísticos y Culturales.</label>
            <label class="checkbox"> <input type="checkbox">Talleres de Alimentación Saludable.</label>
            <label class="checkbox"> <input type="checkbox">Talleres de Huertos Familiares.</label>
        </td>
    </tr>
    <tr>
        <th>Eventos y Encuentros</th>
        <td>
            <label class="checkbox"> <input type="checkbox">Encuentros Familiares. </label>
            <label class="checkbox"> <input type="checkbox">Eventos Recreativos. </label>
        </td>
        <td>
            <label class="checkbox"> <input type="checkbox">Eventos, Encuentros y Campeonatos Deportivos.</label>
            <label class="checkbox"> <input type="checkbox">Eventos Deportivos Familiares.</label>
            <label class="checkbox"> <input type="checkbox">Eventos Culturales.</label>
            <label class="checkbox"> <input type="checkbox">Muestras Familiares Artísticos- Culturales.</label>
            <label class="checkbox"> <input type="checkbox">Encuentros de Vida Saludable.</label>
        </td>
    </tr>
    <tr>
        <th>Módulos y Acciones Complementarias</th>
        <td>
            <label class="checkbox"> <input type="checkbox">Módulos de Formación Familiar.</label>
            <label class="checkbox"> <input type="checkbox">Acciones de Información y Difusión.</label>
            <label class="checkbox"> <input type="checkbox">Atención Individual y Familiar.</label>
        </td>
        <td>
            <label class="checkbox"> <input type="checkbox">Módulos y Clínicas Deportivas.</label>
            <label class="checkbox"> <input type="checkbox">Acceso, Paseos, Visitas y Salidas Culturales.</label>
            <label class="checkbox"> <input type="checkbox">Módulos y Clínicas Artístico- Culturales.</label>
            <label class="checkbox"> <input type="checkbox">Acciones de Recuperación de Áreas Verdes.</label>
            <label class="checkbox"> <input type="checkbox">Módulos y Clínicas de Alimentación Saludable, Huertos y Medioambiente.</label>
        </td>
    </tr>
    </tbody>
</table>

<br>

<label><strong>b. Evaluación cuantitativa del proceso</strong></label>

<table class="table table-hover table-bordered tabla-eval-cuanti">
    <thead>
    <tr>
        <th>Componentes</th>
        <th>Puntaje Inicio (I)</th>
        <th>Puntaje Cumplimiento (C)</th>
        <th>Puntaje Variación (C)-(I)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Relaciones Comunitarias</td>
        <td class="eval-cuanti"><span  id="rel_comu_ini"></span></td>
        <td class="eval-cuanti"><span  id="rel_comu_cum"></span></td>
        <td class="eval-cuanti"><span  id="rel_comu_var"></span></td>
    </tr>
    <tr>
        <td>Acceso</td>
        <td class="eval-cuanti"><span  id="acc_ini"></span></td>
        <td class="eval-cuanti"><span  id="acc_cum"></span></td>
        <td class="eval-cuanti"><span  id="acc_var"></span></td>
    </tr>
    <tr>
        <td>Vínculos Familiares</td>
        <td class="eval-cuanti"><span  id="vinc_fam_ini"></span></td>
        <td class="eval-cuanti"><span  id="vinc_fam_cum"></span></td>
        <td class="eval-cuanti"><span  id="vinc_fa,_var"></span></td>
    </tr>
    <tr>
        <td>Derechos Infantiles</td>
        <td class="eval-cuanti"><span  id="der_inf_ini"></span></td>
        <td class="eval-cuanti"><span  id="der_inf_cum"></span></td>
        <td class="eval-cuanti"><span  id="der_inf_var"></span></td>
    </tr>
    <tr>
        <td>Desarrollo Personal</td>
        <td class="eval-cuanti"><span  id="des_per_ini"></span></td>
        <td class="eval-cuanti"><span  id="des_per_cum"></span></td>
        <td class="eval-cuanti"><span  id="des_per_var"></span></td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td></td>
    </tr>
    </tbody>
</table>

<br>

<label><strong>c. Evaluación cualitativa del proceso y cumplimiento de objetivos</strong></label>

{{ form.evaluacion_cualitativa }}


