{% extends 'base.html' %}

{% block title %}
    {% if familia %}Familia {{ familia }}{% else %}Nueva familia{% endif %}
{% endblock %}

{% block extra_brand %}
    {% if not es_admin %}
        - Centro Familiar {{ centro_familiar }}
    {% endif %}
{% endblock %}

{% block content %}

    <h1>Parte I: Identificación</h1>

    {% if message %}
        <div class="alert alert-{{ message_class }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endif %}

    <br>

    <form class="form-horizontal" method="post">{% csrf_token %}

        <fieldset>
            <legend>Composición Familiar</legend>
        </fieldset>

        {% with familia_form.apellido_paterno as field %}{% include 'bootstrap_horizontal_field.html' %}{% endwith %}
        {% with familia_form.apellido_materno as field %}{% include 'bootstrap_horizontal_field.html' %}{% endwith %}
        {% with familia_form.numero_integrantes as field %}{% include 'bootstrap_horizontal_field.html' %}{% endwith %}

        {% if es_admin %}
            {% with familia_form.centro_familiar as field %}{% include 'bootstrap_horizontal_field.html' %}{% endwith %}
        {% else %}
            <input type="hidden" id="{{ familia_form.centro_familiar.auto_id }}" name="{{ familia_form.centro_familiar.name }}" value="{{ familia_form.centro_familiar.value }}">
        {% endif %}

        {% with familia_form.ingreso_total_familiar as field %}{% include 'bootstrap_horizontal_field.html' %}{% endwith %}
        {% with familia_form.tipo_de_familia as field %}{% include 'bootstrap_horizontal_field.html' %}{% endwith %}

        <fieldset>
            <legend>Integrantes de la Familia</legend>
        </fieldset>

        {# composicion #}
        {% if familia %}
            <div class="botones-busqueda">
                <button id="btn_add_person" class="btn pull-right">
                    <i class="icon-plus-sign"></i>
                    Agregar Persona
                </button>
                <div style="clear:both;"></div>
            </div>
        {% endif %}
        <table id="lista_personas" class="table table-hover table-condensed table-bordered tabla-filtrable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Parentesco</th>
                    <th>Fecha de nacimiento</th>
                    <th>Estado civil</th>
                    <th>Nivel de escolaridad</th>
                    <th>Ocupación</th>
                    <th>Aporta ingresos</th>
                    <th colspan="2">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in familia.persona_set.all %}
                    <tr class="persona-{{ persona.id }}">
                        <td>
                            <a class="link_persona nombre" href="#" id="{{ persona.id }}">{{ persona.nombres }} {{ persona.apellido_paterno }}</a>
                        </td>
                        <td class="parentesco">{% if persona.parentesco %}{{ persona.get_parentesco_display }}{% endif %}</td>
                        <td class="fecha_nacimiento">{% if persona.fecha_nacimiento %} {{ persona.fecha_nacimiento|date:"d/m/Y" }} {% endif %}</td>
                        <td class="estado_civil">{% if persona.estado_civil %}{{ persona.get_estado_civil_display }}{% endif %}</td>
                        <td class="nivel_escolaridad">{% if persona.nivel_escolaridad %}{{ persona.get_nivel_escolaridad_display }}{% endif %}</td>
                        <td class="ocupacion">{% if persona.ocupacion %}{{ persona.get_ocupacion_display }}{% endif %}</td>
                        <td class="aporta_ingreso">{% if persona.aporta_ingreso %}Sí{% else %}No{% endif %}</td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-small dropdown-toggle">Ficha<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    {% for eval in persona.evaluacionfactoresprotectores_set.all %}
                                        <li><a href="/ficha/{{ persona.id }}/{{ eval.anio_aplicacion }}{{ back_url }}">{{ eval.anio_aplicacion }}</a></li>
                                    {% endfor %}
                                    {% if persona.evaluacionfactoresprotectores_set.all.count %}
                                        <li class="divider"></li>
                                    {% endif %}
                                  <li><a href="/ficha/{{ persona.id }}/0{{ back_url }}">Nueva</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <a href="/persona/del/{{ persona.id }}{{ back_url }}" class="btn btn-mini" title="Eliminar">
                                <i class="icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <fieldset>
            <legend>Principales Condiciones de Vulnerabilidad Social en el Grupo Familiar</legend>
        </fieldset>

        <table class="table table-hover table-condensed table-bordered tabla-filtrable ficha-form">
{#            <thead>#}
{#                <tr>#}
{#                    <th></th>#}
{#                    <th>#}
{#                        Presente#}
{#                        <span style="margin-left: 20px">No presente</span>#}
{#                    </th>#}
{#                </tr>#}
{#            </thead>#}
            <tbody>
                <tr>
                    <td>Condiciones de precariedad: vivienda, trabajo, situación sanitaria, otras.</td>
                    <td>{{ familia_form.cond_precariedad }}</td>
                </tr>
                <tr>
                    <td>Vulnerabilidad barrial (inseguridad, violencia, estigma, pocos accesos).</td>
                    <td>{{ familia_form.cond_vulnerabilidad }}</td>
                </tr>
                <tr>
                    <td>Hogar unipersonal en situación de riesgo.</td>
                    <td>{{ familia_form.cond_hogar_uni_riesgo }}</td>
                </tr>
                <tr>
                    <td>Familia monoparental en situación de riesgo.</td>
                    <td>{{ familia_form.cond_familia_mono_riesgo }}</td>
                </tr>
                <tr>
                    <td>Consumo problemático de alcohol y/o drogas.</td>
                    <td>{{ familia_form.cond_alcohol_drogas }}</td>
                </tr>
                <tr>
                    <td>Presencia de discapacidad física y/o mental.</td>
                    <td>{{ familia_form.cond_discapacidad }}</td>
                </tr>
                <tr>
                    <td>Experiencias de malos tratos (actual o histórica).</td>
                    <td>{{ familia_form.cond_malos_tratos }}</td>
                </tr>
                <tr>
                    <td>Historial de socialización delictual (detenciones, problemas judiciales).</td>
                    <td>{{ familia_form.cond_socializ_delictual }}</td>
                </tr>
            </tbody>
        </table>

        <br>

        <div class="form-actions">
            <button type="submit" value="Guardar" class="btn btn-primary">
                Guardar
            </button>

            {% if familia %}
            <a href="/familia/{{ familia.id }}/del{{ back_url }}" class="btn">
                Eliminar
            </a>
            {% endif %}

            <a href="{{ back_url }}" class="pull-right">
                Volver
            </a>

        </div>

    </form>

    <div id="persona_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Editar información personal</h3>
        </div>
        <div class="modal-body">
            <form id="form_persona" class="form-horizontal">
                {% csrf_token %}
                <div class="form_fields"></div>
            </form>
        </div>
        <div class="modal-footer">
            <button id="btn_guardar_persona" class="btn btn-primary">
                Guardar
            </button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
    </div>

    <div style="display: none">
        <table>
            <tr id="fila_template">
                <td><a class="link_persona nombre" href="#" id=""></a></td>
                <td class="parentesco"></td>
                <td class="fecha_nacimiento"></td>
                <td class="estado_civil"></td>
                <td class="nivel_escolaridad"></td>
                <td class="ocupacion"></td>
                <td class="aporta_ingreso"></td>
                <td>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-small dropdown-toggle">Ficha<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="" class="link_nueva_ficha">Nueva</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <a href="" class="btn btn_eliminar btn-mini" title="Eliminar">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

{% block extra_footer %}
<script type="text/javascript">

    var $persona_modal;
    var $form_persona;

    //obtiene el form de persona desde el servidor y lo muestra en el modal
    function get_persona_form(id){
        var url = '/get_persona_form/{{ familia.id }}/' + id;
        $form_persona.attr("action", url);
        $.getJSON(url, function(data){
            $persona_modal.find('.form_fields').html(data.form);
            $persona_modal.modal();
            bind_datepickers();
        });
    }

    //se debe llamar a este metodo luego de insertar una nueva fila en la tabla persona para q tenga el link al modal
    function set_link_persona(){
        $('.link_persona').click(function(){
            get_persona_form($(this).attr('id'));
            return false;
        });
    }

    $(document).ready(function () {

        $persona_modal = $('#persona_modal');
        var $btn_add_person = $('#btn_add_person');
        var $btn_guardar_persona = $("#btn_guardar_persona");
        $form_persona = $('#form_persona');
        var $fila_template = $('#fila_template');
        var $lista_personas = $('#lista_personas');

        $persona_modal.on('hidden', function () {
            $persona_modal.find('.form_fields').html("");
        });

        $btn_add_person.click(function(){
            get_persona_form(0);
            return false;
        });

        set_link_persona();

        $btn_guardar_persona.click(function(){
            $.post(
                $form_persona.attr('action'),
                $form_persona.serialize(),
                function(data){
                    $persona_modal.find('.form_fields').html(data.form);
                    $form_persona.attr('action', '/get_persona_form/{{ familia.id }}/' + data.id);
                    if(data.saved){

                        var $fila = $('.persona-' + data.id);
                        if($fila.length > 0){

                        } else {
                            //nueva
                            $lista_personas.find('tr:last').after("<tr class='persona-"+data.id+"'>" + $fila_template.html() + "</tr>");
                            $fila = $('.persona-' + data.id);
                            $fila.find('.nombre').attr('id', data.id);
                            $fila.find('.link_nueva_ficha').attr('href', "/ficha/"+data.id+"/0{{ back_url|safe }}");
                            $fila.find('.btn_eliminar').attr('href', "/persona/del/"+data.id+"{{ back_url|safe }}");
                            set_link_persona();
                        }

                        $fila.find('.nombre').html($form_persona.find("input[name='nombres']").val() + ' ' + $form_persona.find("input[name='apellido_paterno']").val());
                        $fila.find('.fecha_nacimiento').html($form_persona.find("input[name='fecha_nacimiento']").val());
                        $fila.find('.estado_civil').html($form_persona.find("select[name='estado_civil'] option:selected").html());
                        $fila.find('.nivel_escolaridad').html($form_persona.find("select[name='nivel_escolaridad'] option:selected").html());
                        $fila.find('.ocupacion').html($form_persona.find("select[name='ocupacion'] option:selected").html());
                        var aporta = "No";
                        if($form_persona.find("input[name='aporta_ingreso']").is(":checked")){
                            aporta = "Sí";
                        }
                        $fila.find('.aporta_ingreso').html(aporta);

                        $persona_modal.modal('hide');
                    }
                }
            );
        });

    });
</script>
{% endblock %}
