<tr class="fila-evaluacion fila-ini">
    <td>
        {{ field.label }}
        <span class="pull-right" style="font-family: monospace">(I)</span>
    </td>

    {% for value, text in field.field.choices %}
        {% ifnotequal value "" %}
            {% ifnotequal value -100 %}
                <td>
                    <label class="radio">
                        <input id="{{ field.auto_id }}_{{ value }}" type="radio" name="{{ field.name }}" value="{{ value }}"
                               {% ifequal field.value value %}checked="checked"{% endifequal %}
                               class="ini">
                        {{ value }}
                    </label>
                </td>
            {% else %}
                <td>
                    <label class="radio">
                        <input id="{{ field.auto_id }}_{{ value }}" type="radio" name="{{ field.name }}" value="{{ value }}"
                               {% ifequal field.value value %}checked="checked"{% endifequal %}
                               class="ini" >
                        N/A
                    </label>
                </td>
            {% endifnotequal %}
        {% endifnotequal %}
    {% endfor %}

    <td>
        <label class="radio">
            <a href="#" class="link-limpiar-ini">Limpiar</a>
        </label>
    </td>
</tr>

<tr class="fila-evaluacion fila-cum">
    <td>
        <span class="pull-right" style="font-family: monospace">(C)</span>
    </td>

    {% for value, text in field.field.choices %}
        {% ifnotequal value "" %}
            {% ifnotequal value -100 %}
                <td>
                    <label class="radio">
                        <input id="{{ field.auto_id }}2_{{ value }}" type="radio" name="{{ field.name }}2" value="{{ value }}"
                               {% ifequal field2.value value %}checked="checked"{% endifequal %}
                               class="cum" >
                        {{ value }}
                    </label>
                </td>
            {% else %}
                <td>
                    <label class="radio">
                        <input id="{{ field.auto_id }}2_{{ value }}" type="radio" name="{{ field.name }}2" value="{{ value }}"
                               {% ifequal field2.value value %}checked="checked"{% endifequal %}
                               class="cum" >
                        N/A
                    </label>
                </td>
            {% endifnotequal %}
        {% endifnotequal %}
    {% endfor %}

    <td>
        <label class="radio">
            <a href="#" class="link-limpiar-cum">Limpiar</a>
        </label>
    </td>
</tr>