{% extends "base.html" %}

{% block content %}

    <h1>Listado de familias</h1>

    <br>

    <div>
        <div class="pull-left">
            <form class="form-search" action=".">
                <input type="text" class="input-medium search-query" name="q" value="{{ search_query }}">
                <button type="submit" class="btn">Buscar por apellido</button>
            </form>
        </div>
        <div class="pull-right">
            <a href="/familia/0/" class="btn"><i class="icon-plus-sign"></i> Agregar Familia</a>
        </div>
    </div>


    {% ifnotequal search_query "" %}
        <p>Resultados para: "{{ search_query }}"</p>
    {% endifnotequal %}

    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>Apellidos</th>
            <th>Número de integrantes</th>
            <th>Tipo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for familia in familias %}
            <tr>
                <td>
                    <a href="/familia/{{ familia.id }}">{{ familia.apellidos }}</a>
                </td>
                <td>{{ familia.numero_integrantes }}</td>
                <td>
                    {% if familia.tipo_de_familia %}
                        {{ familia.tipo_de_familia }}
                    {% endif %}
                </td>
                <th>
                    <a class="btn" href="/familia/{{ familia.id }}/del">
                        <i class="icon-remove"></i>
                        Eliminar
                    </a>
                </th>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    {% with familias as obj_list %}
        {% include 'paginator.html' %}
    {% endwith %}

{% endblock %}