{% extends "base.html" %}
{% load common_tags %}


{% block extra_brand %}
    {% if not es_admin %}
        - Centro Familiar {{ centro_familiar }}
    {% endif %}
{% endblock %}

{% block content %}

    <h2>Listado de Familias</h2>

    <hr>

    <form id="form_search" class="form-search" method="get" action=".">

        <div class="botones-busqueda">
            <a id="btn_limpiar" href="#" class="btn">
                Limpiar
            </a>
            <a href="/familia/0/?{{ current_querystring }}" class="btn pull-right">
                <i class="icon-plus-sign"></i>
                Agregar Familia
            </a>
        </div>

        <table class="table table-hover table-condensed table-bordered tabla-filtrable">
            <thead>
            <tr>
                {% if es_admin %}<th>
                    <a href="{{ link_col_centro }}">Centro</a>
                </th>{% endif %}
                <th></th>
                <th>
                    <a href="{{ link_col_apellidos }}">Apellidos</a>
                </th>
                <th>
                    <a href="{{ link_col_tipo }}">Tipo</a>
                </th>
                <th>
                    <a href="{{ link_col_estado }}">Estado</a>
                </th>
                <th style="text-align: center">Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% if es_admin %}
                    <td>
                        <select name="centro" id="centro">
                            <option value="">--Todos--</option>
                            {% for c in centros %}
                                <option value="{{ c.id }}" {% ifequal centro c.id %}selected="selected"{% endifequal %}>{{ c }}</option>
                            {% endfor %}
                        </select>
                    </td>
                {% endif %}
                <td>

                </td>
                <td>
                    <input id="apellidos" type="text" name="apellidos" value="{{ apellidos }}">
                    <button class="btn btn-small" type="submit">Buscar</button>
                </td>
                <td>
                    <select name="tipo" id="tipo">
                        <option value="">--Todos--</option>
                        {% for t in tipos %}
                            <option value="{{ t.0 }}" {% if tipo|add:0 == t.0 %}selected="selected"{% endif %}>{{ t.1 }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="estado" id="estado">
                        <option value="">--Todos--</option>
                        {% for e in estados %}
                            <option value="{{ e.0 }}" {% ifequal estado e.0 %}selected="selected"{% endifequal %}>{{ e.1 }}</option>
                        {% endfor %}
                    </select>
                    <select name="anio" style="width: auto">
                    {% for period in PERIODS %}
                        <option value="{{ period }}"
                                {% ifequal anio period %}
                                    selected="selected"
                                {% endifequal %}>
                            {{ period }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td></td>
            </tr>
            {% for familia in familias.object_list %}
                <tr>
                    {% if es_admin %}<td>
                        {{ familia.centro_familiar }}
                    </td>{% endif %}
                    <td>
                        <a id="{{ familia.id }}" href="#" class="btn-mostrar-detalle-familia" title="Ver integrantes de la familia">
                            <i class="icon-plus-sign"></i>
                        </a>
                        <a href="#" class="btn-ocultar-detalle-familia" style="display: none" title="Ocultar integrantes de la familia">
                            <i class="icon-minus-sign"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/familia/{{ familia.id }}/?{{ current_querystring }}">{{ familia }}</a>
                    </td>
                    <td>
                        {% if familia.tipo_de_familia %}
                            {{ familia.get_tipo_de_familia_display }}
                        {% endif %}
                    </td>
                    <td>
                        {% get_estado_familia familia anio %}
                    </td>
                    <td style="text-align: center">
                        <a class="btn btn-mini" title="Eliminar" href="/familia/{{ familia.id }}/del/?{{ current_querystring }}">
                            <i class="icon-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr class="detalle-familia" style="display: none">
                    {% if es_admin %}<td></td>{% endif %}
                    <td colspan="5" style="padding: 0 0 10px 40px" class="detalle-familia-content">
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="pull-right">
            A: Activo / I: Inactivo / C: Completo
        </div>
    </form>

    {% with familias as obj_list %}
        {% include 'paginator.html' %}
    {% endwith %}

{% endblock %}

{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function () {
            var $form_search = $("#form_search");
            var $num_ficha = $("#num_ficha");
            var $centro = $("#centro");
            var $apellidos = $("#apellidos");
            var $tipo = $("#tipo");
            var $estado = $("#estado");
            var $psize_select = $("#psize_select");

            $("#btn_limpiar").click(function(){
                $num_ficha.val("");
                $centro.val("");
                $apellidos.val("");
                $tipo.val("");
                $estado.val("");
                $form_search.submit();
                return false;
            });

            $psize_select.change(function(){
                var url = "{{ psize_select_pref|safe }}&psize=" + $psize_select.val();
                window.location.href = url;
            });

            $("#form_search select").change(function(){
                $form_search.submit();
            });

            // detalle de familia
            $("a.btn-mostrar-detalle-familia").click(function(){
                var $this = $(this);
                var $tr = $this.closest("tr").next("tr");
                var $content = $tr.find("td.detalle-familia-content");
                if($content.html().trim() == ""){
                    $.ajax({
                        url:"/get_detalle_familia/"+$this.attr("id")+"/",
                        success:function(html){
                            $content.html(html);
                            $tr.fadeIn();
                            $this.hide();
                            $this.next("a").show();
                        }
                    });
                } else {
                    $tr.fadeIn();
                    $this.hide();
                    $this.next("a").show();
                }

                return false;
            });
            $("a.btn-ocultar-detalle-familia").click(function(){
                var $this = $(this);
                $this.closest("tr").next("tr").fadeOut();
                $this.hide();
                $this.prev("a").show();
                return false;
            });
        });
    </script>
{% endblock %}