<div class="pagination">
    <ul>
        {% if obj_list.has_previous %}
            <li>
                <a href="?page={{ obj_list.previous_page_number }}">Anterior</a>
            </li>
        {% else %}
            <li class="disabled">
                <a>Anterior</a>
            </li>
        {% endif %}

        {% for num_page in obj_list.paginator.page_range %}
            {% ifequal num_page obj_list.number %}
                <li class="active"><a>{{ num_page }}</a></li>
            {% else %}
                <li><a href="?page={{ num_page }}">{{ num_page }}</a></li>
            {% endifequal %}
        {% endfor %}

        {% if obj_list.has_next %}
            <li>
                <a href="?page={{ obj_list.next_page_number }}">Siguiente</a>
            </li>
        {% else %}
            <li class="disabled">
                <a>Siguiente</a>
            </li>
        {% endif %}
    </ul>
</div>

Página {{ obj_list.number }} de {{ obj_list.paginator.num_pages }}.