{% extends "base.html" %}

{% block title %}Reportes{% endblock %}

{% block extra_header %}
    <link rel="stylesheet" href="/static/css/reportes.css"/>
{% endblock %}

{% block body_tag %}
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
{% endblock %}

{% block content %}
<div class="row">

    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix">
            <li class=""><a href="#cobertura"><i class="icon-chevron-right"></i> Cobertura</a></li>
        </ul>
    </div>

    <div class="span9">

        {% include "reportes/cobertura.html" %}



    </div>

</div>

{% endblock %}

{% block extra_footer %}
<script type="text/javascript" src="/static/highcharts/highcharts.js"></script>
<script type="text/javascript">

var anio = {{ anio }};

$(document).ready(function(){

    $(".btn-grafico").click(function(){
        var $section = $(this).closest("section");
        $section.find(".tabla-datos").fadeOut(function(){
            $section.find(".grafico").fadeIn();
        });
        return false;
    });

    $(".btn-tabla").click(function(){
        var $section = $(this).closest("section");
        $section.find(".grafico").fadeOut(function(){
            $section.find(".tabla-datos").fadeIn();
        });
        return false;
    });

    {% include "reportes/cobertura.js" %}

});

</script>
{% endblock %}