{% extends 'tabla_evaluacion_base.html' %}

{% block extra_class %}vinculos{% endblock %}

{% block fields %}
    {% with form.relaciones_y_cohesion_familiar as field %}
        {% with form.relaciones_y_cohesion_familiar2 as field2 %}
            {% include 'fila_evaluacion.html' %}
        {% endwith %}
    {% endwith %}
    {% with form.adaptabilidad_y_resistencia_familiar as field %}
        {% with form.adaptabilidad_y_resistencia_familiar2 as field2 %}
            {% include 'fila_evaluacion.html' %}
        {% endwith %}
    {% endwith %}
    {% with form.competencias_parentales as field %}
        {% with form.competencias_parentales2 as field2 %}
            {% include 'fila_evaluacion.html' %}
        {% endwith %}
    {% endwith %}
{% endblock %}