{% extends 'tabla_evaluacion_base.html' %}

{% block extra_class %}der-infantiles{% endblock %}

{% block fields %}
    {% with form.proteccion_y_salud_integral as field %}
        {% with form.proteccion_y_salud_integral2 as field2 %}
            {% include 'fila_evaluacion.html' %}
        {% endwith %}
    {% endwith %}
    {% with form.participacion_protagonica as field %}
        {% with form.participacion_protagonica2 as field2 %}
            {% include 'fila_evaluacion.html' %}
        {% endwith %}
    {% endwith %}
    {% with form.recreacion_y_juego_con_pares as field %}
        {% with form.recreacion_y_juego_con_pares2 as field2 %}
            {% include 'fila_evaluacion.html' %}
        {% endwith %}
    {% endwith %}
{% endblock %}