<table class="table table-condensed table-bordered {% block extra_class %}{% endblock %}">
    <thead>
        <tr>
            <th></th>
            <th>Factor de Riesgo</th>
            <th>Tendencia a FR</th>
            <th>Línea Base</th>
            <th>Tendencia a FP</th>
            <th>Factor Protector</th>
            <th>No Aplica</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% block fields %}
        {% endblock %}
        <tr>
            <td colspan="8" style="text-align: right">
                <span class="fila-ini">
                    Promedio Inicio (I): <span class="prom-ini"> </span>
                </span>
                <span class="fila-cum">
                    Promedio Cumplimiento (C): <span class="prom-cum"> </span>
                </span>
            </td>
        </tr>
    </tbody>
</table>