{% extends 'tabla_evaluacion_base.html' %}

{% block fields %}
    {% with form.crecimiento_personal as field %}
        {% with form.crecimiento_personal2 as field2 %}
            {% include 'fila_evaluacion.html' %}
        {% endwith %}
    {% endwith %}
    {% with form.autonomia as field %}
        {% with form.autonomia2 as field2 %}
            {% include 'fila_evaluacion.html' %}
        {% endwith %}
    {% endwith %}
    {% with form.habilidades_y_valores_sociales as field %}
        {% with form.habilidades_y_valores_sociales2 as field2 %}
            {% include 'fila_evaluacion.html' %}
        {% endwith %}
    {% endwith %}
{% endblock %}